.container{
    width: 60vw;
    height: 100vh;
    overflow-x: scroll;
    margin: 0 auto;
    padding: 0 1rem;
}

.container::-webkit-scrollbar{
    display: none;
}

.memes{
    background-color: #1973e6;
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

.memePallete h2{
    width: 100%;
    color: aliceblue;
}

.profileName{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.profilePic{
    height: 30px;
    width: 30px;
}

.memesImg{
    /* height: 30rem; */
    width: 100%;
    margin-top: 10px;
}
